.wrap {
    flex-grow: 8;
    height: 70%;
    padding: 20px;

    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(100, 95, 95, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: rgb(90, 84, 92);
}