.wrap {
    flex-grow: 9;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.row-space {
    flex-grow: 6;
}

.inner {
    flex-grow: 94;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div1 {
    flex-grow: 42;
    height: 85%;
    
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(100, 95, 95, 0.5);
}

.left-column-space {
    flex-grow: 4;
}

.center-column-space {
    flex-grow: 2;
}

.right-column-space {
    flex-grow: 4;
}