.wrap {
    flex-grow: 1;
    background-color: rgb(90, 84, 92);
    align-self: stretch;

    display: flex;
    flex-direction: row;
}

.left-space {
    flex-grow: 15;
}

.inner {
    flex-grow: 85;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text {
    flex-grow: 1;

    font-family: Arial, sans-serif;
}

.title {
    font-size: 2vw;
    color: white;
    font-stretch: ultra-condensed;
}

.motto {
    color: lightgray;
    font-size: 1vw;
}

.top-space {
    flex-grow: 2;
}

.middle-space {
    flex-grow: 0.75;
}

.bottom-space {
    flex-grow: 90;
}